<html>
<body>
<p>
  <strong>app_id:</strong>
  <%= @message.app_id %>
</p>
 
<p>
  <strong>content</strong>
  <%= @message.content %>
</p>

<p>
  <strong>username:</strong>
  <%= @message.username %>
</p>
 
<p>
  <strong>active:</strong>
  <%= @message.active %>
</p>

<p>
  <strong>created_at:</strong>
  <%= @message.created_at %>
</p>
 
<p>
  <strong>updated_at:</strong>
  <%= @message.updated_at %>
</p>
</body>
</html>